<div class="landing-cont">

    <div class="act-cont">
      <mat-card class="act-card" (click)="navigate(USER_ACTION.MANAGESLOTS)">
        <img src="https://image.flaticon.com/icons/svg/123/123392.svg">
        Manage Slots
      </mat-card>
      <mat-card class="act-card" (click)="navigate(USER_ACTION.BOOKSLOTS)">
        <img src="https://image.flaticon.com/icons/svg/725/725581.svg">
        Book Slot
      </mat-card>
      <mat-card class="act-card" (click)="navigate(USER_ACTION.VIEWSLOTS)">
        <img src="https://image.flaticon.com/icons/svg/1497/1497835.svg">
        View Booked Slots
      </mat-card>
    </div>
      
  </div>